
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header*/
.navbar-brand{
    padding: 10px 0;
    width: 54%;
    margin: auto;
    overflow: hidden;
}
.logo{
    width: 70px;
    
}
 #ready{
    border-bottom: 3px solid #19E2D6;

}

header{
    width: 100%;
    height: 700px;
    background:#2930FF;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.texto-header {
    position: relative;
    margin: 20px;
    line-height: 10px;
    
     
}
.texto-header h1{
    color: white;
    font-size: 40px;

}
.texto-header h3{  
    color: white; 
    font-size: 25px; 
}

.principal{
    border-radius: 20px;
    margin: 5px; 
    float: right; 
    width: 600px;
    vertical-align: middle;
    }
.boton{
 background:#2930FF ;
    }
.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
    
}

/*Abous us*/

.imagen-about-us{
width: 550px;
border-radius: 20px;
float: right;
padding-left: 10px;
padding-top: 50px;
}
.titulo{
    font-weight: bold;
    font-size: 35px;
    color: #021947;
    margin: 0;
    text-align: center!important;

}
.border-bottom-about-us{
    width: 18rem;
    border-bottom: 4px solid #19e2d6;
    margin: 0 auto;
}

.contenido-texto{
    padding-left: 70px;
    text-align: left;
    padding-top: 40px;
    font-family: Nunito;
}
.contenido-texto p{
    font-size: 18px;
    line-height: 25px;
    color: #021947;
}
h3{
    color:#021947 ;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
}
.titulo-vision{
    font-size: 25px;
    color:#021947 ;
    padding: 7rem 0 0 4rem;   
}

.imagen-us{
    width: 650px;
border-radius: 20px;
float: left;
padding: 50px;
}
.contenido-texto-vision{
    padding: 1rem 1.8rem 0 3rem;
    color: #021947;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
}

/*Service*/


.bg-row{
    float: left;
    background: #e3e1ec;
    width: 100%;
    height: 350px;
    margin-bottom: 70px;
}
.bg-row h3{
    color:#021947 ;
    font-weight: bold;
    font-size: 40px;
    line-height: 25px;
    margin-top: 50px;
}
.btn-secondary{
    background: white;
    color: black;
    font-size: 13px;
}
.raw p{
    font-size: 18px; 
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.pl-2{
    padding-left: .5rem!important;
    padding-top: .5rem!important;
    float: left;
}

.iner{
    width: 48%;
    margin-right: 5px;
    float: left;
    height: 55px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lass{
    width: 48%;
    float: right;
    height: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.border-bottom-ourServices-us{
    width: 18rem;
    border-bottom: 4px solid #19e2d6;
    margin: 0 auto;  
}

    button img{
        float: left;
        width: 42px;
        line-height: 22px;
        margin-bottom: 1rem;
}
.border-bottom-ourServices-usa{
    width: 87%;
    border-bottom: 2px solid #c9d3d1;
    margin: auto;
    padding-top: 15px;
}

/*chosee us*/

.title-us{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #021947;
    
}
.border-bottom-dashboar-us{
    width: 22rem;
    border-bottom: 4px solid #19e2d6;
}
.elegirnos{
    padding-top: 3rem;
    padding-left: 3rem;
    text-align: left;
}
    .texto-eligenos{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    .imagen-pc{
        width: 600px;
        padding-top: 50px;
        padding-left: 1rem;      
    }

/* our team */
.container{
    overflow: hidden;
}
.equipo{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #021947;
    padding-top: 50px;
}

.card{
    margin: 2em;
    padding: 1em;
    float: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.card-title{
text-align: center;
}
.our{
    text-align: center;
    }

.btn-ours{
        background-color: white;
        color: #2930FF;
        border-radius: 50px;
        display: block;
        margin: auto;
    }

.card-img-top-1{
        width: 180px;
        height: 180px;
        margin: auto;
    }

    .card-img-top{
        border-radius: 70%;
        width: 180px;
        height: 180px;
        margin: auto;
      
    }

    /*formulario*/

.texto-cont{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #021947;
    padding-top: 40px;
}

.text-p1 p{
    font-size: 20px;
    padding-top: 25px;
    color: #021947;
}

.form-contact-us{
    width: 58%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 500px;
    
    
}

.form-group{
    width: 400px;
    margin: auto;
    padding-bottom: 15px;
}

textarea{
width: 400px;
height: 60px;
margin-left: 102px;
}
.btn-enviar{
 background:#2930FF;
 color: white;
 width: 100px;
 display: block;
 margin: auto;
 border-radius: 50px;
}
.border-bottom-ourServices-usi{
    width: 13rem;
    border-bottom: 4px solid #19e2d6;
}
/*footer*/
.pb-3{
    padding-bottom: 1rem!important;
}
.bg-footer{
background-color: #021947;
}

.conten-foo p{
    color: white;
}
.titulo-final{
    color: white;
}
.foot{
    position: absolute;
    width: 100%; 
}